/* #region common */
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    font-family: 'Montserrat', sans-serif;
}

:root
{
    --primary: #3061e1FF;
    --accent: #8ea1e1ff;
    --black: #23262bFF;
    --light: #fefffe;
    --white: #f6f7f7;
}
/* #endregion common*/

/* #region utility */
.container
{
    width: 80%;        /* non occupa tutto lo schermo*/
    max-width: 1152px; /*non crescerà più di questa dimensione*/
    margin: auto;
}

.row
{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1rem;
}

[class^="col-"]
{
    padding-left: 1rem;
    padding-right: 1rem;
}

.d-flex
{
    display: flex;
}

.col-2
{
    width: calc((100%/12)*2);
}

.btn /*stilizziamo i button, successivamente faremo un'altra classe per stilizzare i bottoni particolari*/
{
    text-decoration: none;
    display: inline-block;
    background-color: transparent;
    border: none;
    padding: 0.25rem 0.5rem;
    border-radius: 1rem;
    font-size: 14px;
}

.btn-large
{
    padding: 0.75rem 1rem; /*crea un bottone più grande*/
    border-radius: 1.5rem;
}

.btn-light
{
    background-color: var(--light);
    color: var(--black);
}
.btn-dark
{
    background-color: var(--black);
    color: var(--white);
}
/* #endregion utility */

/* #region header */

#site_header
{
    color: var(--white);
    /* background-color: var(--primary);    togliamo lo sfondo perchè usiamo position fixed + width 100%*/
    padding: 0.5rem 0; /* top&bottom right&left*/
    position: fixed;
    width: 100%;
}

#site_header nav .logo, #site_header nav .singin
{
    flex-grow: 1;
}

#site_header nav .menu
{
    flex-grow: 2;
    text-align: center;
    list-style: none;
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

.singin
{
    text-align: end;
}
/* #endregion header*/

/*debug 
.debug .jumbotron{
    background-color: blue;
    height: 350px;
}

.debug .jumbotron .container
{
    background-color: palevioletred;
    height: 200px;
}
*/

/* #region main */
.jumbotron
{
    background-color: var(--primary);
    background-image: url(./img/jumbo.png);
    background-size: cover;
    background-position: center;
    text-align: center;
}

.jumbotron .container
{
    padding: 8rem 12rem;
}

.jumbotron h2
{
    font-size: 3rem;
    color: var(--white);
    margin-bottom: 2rem;
}

.jumbotron p
{
    line-height: 1.5rem;
    margin-bottom: 1.5rem;
}

/* #endregion main */